body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: #f4f4f4;
  color: #333;
}
header {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
}
section {
  background-color: white;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  background: #333;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background: blue;
}

#student-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 15px;
}
.student-card {
  background: linear-gradient(135deg, #e0f7fa, #80deea);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  width: 180px;
  text-align: center;
  position: relative;
}
.student-card button {
  background: red;
  margin-top: 10px;
}
.student-card button:hover {
  background: darkred;
}
/* ==== Footer === */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  border-radius: 5px;
}